<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <link rel="shortcut icon" href="./images/favicon.png" type="x-icon">
    {{>headerlinks}}
    <title>Error</title>
    <link rel="stylesheet" href="css/style404.css">
	<!--Ionicons-->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     
</head>
<body>
     <section class="page_404">
	<div class="container">
		<div class="row">	
		<div class="col-sm-12 ">
		<div class="col-sm-10 col-sm-offset-1  text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">404</h1>
		
		
		</div>
		
		<div class="contant_box_404">
		<h3 class="h2">
		Look like you're lost
		</h3>
		
		<p class="pp">the page you are looking for not avaible!</p>
		
		<a href="/" class="link-404"><button> Go to Home</button></a>
	</div>
		</div>
		</div>
		</div>
	</div>
</section>
              
 {{!-- Footer  --}}
 <footer>
        <ul class="icons">
            <li><a hrhref="https://wa.me/9327307797?text=urlencodedtext" target={"_blank"}><ion-icon name="logo-whatsapp"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/in/vihar-prajapati-a52844226"><ion-icon name="logo-linkedin"></ion-icon></a></li>
            <li><a href="https://www.facebook.com/vihar.prajapati.5/"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.instagram.com/viharp2002/"><ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
            <div class="footer-copyright">
                <p>Copyright @ 2022 All Rights Reserved.</p>
            </div>
    </footer> 

 
</body>
</html>